body{
    padding: 0;
    margin: 0;
}

.preloader{
    position: fixed;
    height: 100vh;
    width: 100%;
    visibility: visible;
    z-index: 999;
}
.preloader .loader__animation{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 4px solid;
    position: absolute;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.loader__title{
    position: absolute;
    left: 50%;
    top: calc(50% + 50px);
    transform: translate(-50%, -50%);
}
.preloader__done{
    transform: translateY(-100vh);
}
@keyframes loader__animation {
    0%{
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }

}